body.dark-mode {
  background-color: #343434;
  color: #f5f5f5;
  transition: 200ms;
}

body.dark-mode .profile {
  border-bottom: 2px solid #ffffff;
}

body.dark-mode .profile__profile-bio > .name > span {
  background-color: #333;
  color: #0fd8ff;
}

body.dark-mode .profile__profile-bio > .description {
  color: #e0e0e0;
}

body.dark-mode .profile__profile-bio > a {
  color: #0fd8ff;
}

body.dark-mode .about-me {
  border-bottom: 2px solid #ffffff;
}

body.dark-mode .about-me .about article {
  color: #e0e0e0;
}

body.dark-mode .about-me .about a {
  color: #0fd8ff;
}

body.dark-mode .experience h1 {
  color: #f5f5f5;
}

body.dark-mode .icon-container a i {
  color: #f5f5f5;
}

body.dark-mode .icon-container a i:hover {
  color: #0fd8ff;
}

body.dark-mode  .project .description-section-project a {
  color: #0fd8ff;
}

body.dark-mode .portfolio-header p {
  color: #bbbbbb;
}

body.dark-mode .all-projects {
  color: #eaeaea;
}

body.dark-mode .all-projects:hover {
  color: #0fd8ff; 
}

body.dark-mode .portfolio-item {
  background-color: #1e1e1e;
  border: 1px solid #333333;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

body.dark-mode .portfolio-item:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
}

body.dark-mode .project-details h2,
body.dark-mode .project-details h3 {
  color: #eaeaea;
}

body.dark-mode .project-details p {
  color: #bbbbbb;
}

body.dark-mode .see-project {
  color: #eaeaea;
}

body.dark-mode .see-project:hover {
  color: #0fd8ff;
}

body.dark-mode .project-image img {
  background-color: #2c2c2c;
  border-top: 1px solid #333333;
}

body.dark-mode .see-project span,
body.dark-mode .all-projects span {
  animation: fade-arrow 1s infinite ease-in-out;
}

body.dark-mode .portfolio-description p {
  color: #bbbbbb;
}

body.dark-mode footer {
  background-color: var(--footer-bg-color);
  color: #fff;
  box-shadow: var(--footer-shadow);
}

body.dark-mode .footer-logo img {
  filter: brightness(0.8);
}

body.dark-mode .footer-links a,
body.dark-mode .footer-contact a {
  color: #fff;
}

body.dark-mode .footer-links a:hover,
body.dark-mode .footer-contact a:hover {
  color: #fff;
  text-shadow: 0 2px 6px rgba(0, 112, 243, 0.5);
}

body.dark-mode .footer-social .social-icons a {
  background-color: var(--footer-social-bg);
  color: #fff;;
}

body.dark-mode .footer-social .social-icons a:hover {
  background: var(--footer-social-hover-bg);
  color: #fff;
}

body.dark-mode .footer-bottom {
  color: #fff;
  border-top: 1px solid var(--footer-bottom-border);
}

body.dark-mode .footer-bottom {
  color: #fff
}

body.dark-mode .footer-container {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

body.dark-mode footer {
  background-color: #333;
  color: #eaeaea;
}

body.dark-mode .footer-logo img {
  filter: brightness(0.8);
}

body.dark-mode .footer-links a,
body.dark-mode .footer-contact a {
  color: #eaeaea;
}

body.dark-mode .footer-links a:hover,
body.dark-mode .footer-contact a:hover {
  color: #66b2ff;
  text-shadow: 0 2px 6px rgba(0, 112, 243, 0.5);
}

body.dark-mode .footer-social .social-icons a {
  background-color: #1e1e1e;
  color: #eaeaea;
}

body.dark-mode .footer-social .social-icons a:hover {
  background: linear-gradient(135deg, #66b2ff, #3b82f6);
  color: #fff;
}

body.dark-mode .footer-bottom {
  color: #bbbbbb;
  border-top: 1px solid #fff;
}

body.dark-mode .footer-bottom {
  color: #bbbbbb;
}

body.dark-mode .footer-container {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  color: #fff;
}

body.dark-mode .footer-container .footer-logo p {
  color: #fff;
}